<main> 
  
  <h2>Employee details:</h2>

  <p>username: {{username}}</p>

  <p>Name: {{name}}</p>

  <p>Role: {{role}}</p>

  <p>facebookID: {{facebookId}}</p>

  <p>profileImg: {{profileImg}}</p>

  <p>Description: {{description}}</p>

  <a href="/employees/edit/{{id}}">Edit</a>

</main>  