<section class="container">

    <h2>My profile</h2>

    <br>

    <h3>{{user.username}}</h3>
    <h4>{{user.name}}</h4>
    <h5>{{user.role}}</h5>
    <p>{{user.profileImg}}</p>
    <p>{{user.description}}</p>
    <p>{{user.facebookId}}</p>



</section>