<h2>Welcome {{name}}</h2>

<h3>{{name}}</h3>
<p>Username: {{username}}</p>
<img src="{{profileImg}}" alt="{{name}}">
<p>{{description}}</p>
<p>Facebook: {{facebookId}}</p>


<a href="/edit">Edit</a>
<a href="/platform">Platform</a>