
<div class="no-form">

  <div class="row justify-content-center">
    {{#if username}}
    
      <div class="col-md-3">
        <figure>
          <img src="{{profileImg}}" alt="">
        </figure>
      </div>
    
      <div class="col-md-9">
    
        <h2 class="card-title">{{name}}</h2>
        <small>{{username}}</small>
        <hr>
        <p class="card-text">{{description}}</p>
        <a href="/user" class="btn button-mine">Volver!</a>
        <a href="/{{id}}/edit" class="btn button-mine">Editar</a>
      </div>
    

    {{/if}}
  </div>
  
</div>