<h2>Personal profile of {{name}}</h2>

<div class="container">

    <div class="row">

        <div class="col-12">

            <img src="{{profileImg}}">

        </div>

        <div class="col-12">

            <p>{{role}}</p>

        </div>

        <div class="col-12">

            <p>{{description}}</p>

        </div>

    </div>


</div>

<hr>

<p>Do you want to edit the information? <a href="/profile/{{id}}/edit">Edit</a></p>

<a href="/">Go back</a>