<div class="row">
  <div class="col-md-4">

    <img src="{{profileImg}}" alt="{{name}}">
    <a href="/user-db" class="btn btn-link">Back to user list</a>
    <a href="/dashboard" class="btn btn-link">Go to dashboard</a>

  </div>
  
  <div class="col-md-8">
    <h2>{{name}}</h2>
    <p>Username: {{username}}</p>
    <p>Name: {{name}}</p>
    <p>Description: {{description}}</p>
    <p>Role: {{role}}</p>
  </div>
</div>