<section class="container details">


    <h2>DETAILS OF {{allInfo.username}}:</h2>

    <ul>
        <li><strong>Username:</strong> {{allInfo.username}}</li>
        <li><strong>Password:</strong> {{allInfo.password}}</li>
        <li><strong>Role:</strong> {{allInfo.role}}</li>
    </ul>


    <a href="/private/{{allInfo.id}}/edit" class="btn btn-lg btn-primary">Edit</a>

 </section>