<h1>
    <%= user.name %>
</h1>
<h3>Name:
    <span>
        <%= user.name %>
    </span>
</h3>
<h3>Familyname:
    <span>
        <%= user.familyname %>
    </span>
</h3>
<h3>Role:
    <span>
        <%= user.role %>
    </span>
</h3>

<a href="/employees/<%= user._id %>/delete">Delete</a>