<div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{profileImg}} alt={{name}}>
    <div class="card-body">
        <h5 class="card-title">{{name}} </h5>
            <p class="card-text">Username: {{username}}</p>
            <p class="card-text">Name: {{name}}</p>
            <p class="card-text">Description: {{description}}</p>
            <p class="card-text">Role: {{role}}</p>
        <a href={{facebookId}} class="btn btn-primary" target="_blank">Facebook</a>
    </div>
</div>