<h1>Course details</h1>
<ul>
    <li>{{title}}</li>
    <li>{{leadTeacher}}</li>
    <li>{{startDate}}</li>
    <li>{{endDate}}</li>
    <li>{{ta}}</li>
    <li>{{courseImg}}</li>
    <li>{{description}}</li>
    <li>{{status}}</li>
    <li>{{students}}</li>
</ul>