    {{#each courses as |course|}}

        <div class="col-md-6" style="border: 1px solid black; margin:20px; border-radius:8px;">
        <p>NAME: {{course.courseName}}</li>
        <p>SUBJECT: {{course.subject}}</p>
        <p>DESCRIPTION: {{course.description}}</p>

        {{#isDEVELOPER ../passportSession}}
       <form action="/users/{{../../passportSession._id}}/{{course._id}}/addDev" method="POST">
            <button type="submit" class="btn btn-primary">inscribirme</button>
       </form>
        {{/isDEVELOPER}}
      
        {{#isTA ../passportSession}}
              <a href="/users/list">inscribir alumnos a este curso</a>
        {{/isTA}}

        {{#isBOSS ../passportSession}}
             <form action="/courses/{{course.id}}/delete" method="POST">
                  <button type="submit" class="btn btn-danger">Delete course</button>
             </form>
        {{/isBOSS}}

            <p>INSCRITOS: {{course.students.length}}</p>
            <ul>
                  {{#each course.students as |student|}}
                        <li>
                         {{student.email}}
                       </li>
                  {{/each}}
            </ul>
        </div>

    {{/each}}
