{{course.title}}</br>
{{course.description}}</br>
{{course.content}}</br>
{{course.members}}</br>
<a href="{{course.resource}}">Click here to see more</a></br>
<a href="/courses"><button>Back to Courses</button></a>