<div class="courses-page">
  <h1>Courses</h1>
  {{#if message}}
  <div>{{message}}</div>
  {{/if}}
  <a href="/courses/add" class="btn">Add Courses</a>
  {{#each courses}}
  <div class="course-item">
    <a href="/courses/{{this._id}}">{{this.name}} </a> | <a href="/courses/{{this._id}}/edit">Edit</a> |
    <form action="/courses/{{this._id}}/delete" method="POST">
      <button type="submit">Delete</button>
    </form>
  </div>
  {{/each}}
  <a href="/bureau">Home</a>
</div>

{{!-- editar link delete --}}