   {{>postlogin }}


<div style='margin:30px' class="container-fluid text-left"> 
 
  <div class="row content">
    <div id='myside' class="col-sm-2 sidenav">
     
     {{#each categories}} 
      <p><a href="#">{{this.name}}</a></p>
    {{/each}}
    </div>
	
    <div id='mycenter' class="col-sm-8 text-center"> 
   {{#each blogs}} 
     <div class="userRow">

			 <div class="userItem" style="background-image: url('./images/{{this.0.picture}}') ">
      
			 <p class="blogtitle3" >{{this.0.category}}</p>  
			 <p class="blogtitle1" >{{this.0.name}}</p>
			 <p class="blogtitle2" >{{this.0.title}}</p>
				</div>
		
	   	  <div class="userItem" style="background-image: url('./images/{{this.1.picture}}') ">
			 <p class="blogtitle3" >{{this.1.category}}</p>  
			 <p class="blogtitle1" >{{this.1.name}}</p>
			 <p class="blogtitle2" >{{this.1.title}}</p>
				</div>


		
    </div> 
        {{/each}}

  </div>
	 
	 <!-- Modal -->
 
   
	 
    <div id='latest' class="col-sm-2 sidenav">
      <div class="well"><p>juns 10 11</p><p>Latest post 1</p></div>
	  
    </div>
  </div>
  

</div>
