<h1>Hello {{loggedUser.username}}  :{{loggedUser.role}} <a href="/logout">logout</a></h1>

<a href="/createUSer">Create User</a>
<Br>
<Br>


<h2>List of Users</h2>


<table>
<tr>
    <th>UserName</th>
    <th>Role</th> 
    <th></th>
    <th></th>
    
  </tr>

{{#each users}}
  <tr>
<td>{{this.username}}</td>
<td>{{this.role}}</td>
<td>
<form action="/editProfile/{{this.username}}" method="get">
  <button type="submit">Edit Profile</button>
</form>
</td>
<td>
<form action="/deleteUser/{{this.username}}" method="post">
  <button type="submit">Delete User</button>
</form>
</td>
<td>
<form action="/seeProfile/{{this.username}}" method="get">
  <button type="submit">See Profile</button>
</form>
</td>
</tr>

{{/each}}

</table>

<br>
<br>

<a href="/courseAdd">Create Course</a>
<Br>
<Br>


<h2>List of Courses</h2>


<table>
<tr>
    <th>name</th>
    <th>description</th> 
    <th></th>
    <th></th>
    
  </tr>

{{#each courses}}
  <tr>
<td>{{this.name}}</td>
<td>{{this.description}}</td>
<td>
<form action="/courseEdit" method="get">
  <button type="submit">Edit Course</button>
</form>
</td>
<td>
<form action="/courseDelete" method="get">
  <button type="submit">Delete Course</button>
</form>
</td>

</tr>

{{/each}}

</table>




