<h1>Detalles</h1>

<h3>Usuario: </h3>
<p>{{username}}</p>
<br>
<br>
<h3>Role:</h3>
<p>{{role}}</p>
<br>
<br>
<h3>Edad:</h3>
<p>{{age}}</p>
<br>
<br>
<h3>Email:</h3>
<p>{{email}}</p>

<a href="/auth/update/{{_id}}">Update</a>