<body>
  <h1>Edit your profile:</h1>
  <form action="/auth/<%= users._id %>/edit" method="post">
    <label for="username">Username</label><br>
    <input type="text" name="username" value="<%= users.username %>">
    <br><br>
  <label for="name">Name</label><br>
  <input type="text" name="name" value="<%= users.name %>">
  <br><br>
  <label for="familyName">Family Name</label><br>
  <input type="text" name="familyName" value="<%= users.familyName %>">
  <br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="Super Secret Password">
  <br><br>
  <button>Edit!</button>
  </form>
  <%if (typeof(errorMessage)!== "undefined") { %>
    <%=errorMessage%>
  <%}%>
</body>
