<h1>Staff Profile</h1>
<h3>Welcome {{user.name}} {{user.lastName}}</h3>
{{#each allCourses}}
<ul>
    <li><h4>{{this.name}}</h4>
   Taught by: {{{this.teacher}}} - <b>Classroom: {{{this.classroom}}}</b> <a href="/edit-course/{{this._id}}"><input type="submit" value="Edit"></a> <a href="/delete-course/{{this._id}}"><input type="submit" value="Delete"></a> 
    </li>
</ul>
{{/each}}
<a href="/edit-staff/">Edit profile</a>
<br>
<br>
<a href="/create-course">Create course</a>
<br>
<br>
<a href="/logout">Logout</a>