<h2>{{ name }}</h2>
<p>Description: {{ description }} </p>
<h4>Teacher: {{ teacher.firstName }}</h4>
<img src={{ teacher.profilePic }}>
{{!-- <a href="/profiles/{{ _id }}/delete">Delete {{ firstName }}</a> --}}