
<div id="employee-list">
<h2>Employees </h2>

{{#each users as |user|}}
    <div class="employee">
    <p>
        {{user.username}}<form action="/{{user._id}}/deleteuser" method="POST"><button type="submit">Delete</button></form>
    </p>
</div>
{{/each}}
</div>



<h1>Create an employee:</h1>

<form validated action="/new" method="post">
    <p>
        Username:
        <input value="{{username}}" name="username" type="text" required>
    </p>
    <p>
        Email:
        <input value="{{email}}" name="email" type="email" required>
    </p>
    <p>
        Password:
        <input name="password" type="password" required>
    </p>
        <p>
        Role:<br />

        <input type="radio" name="role" value="TA"> TA<br>
        <input type="radio" name="role" value="DEVELOPER"> Developer<br>
    </p>
    <p>
        <input type="submit">
    </p>
</form>



<p><a href="{{user._id}}">Back to profile</a></p>