<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if user}}
  <p>Logged as {{user.username}} ({{user.role}})</p>
  <a href="/passport/logout">Logout</a>
{{else}}
  <a href="/passport/login">Log In!</a>
{{/if}}