<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <p><a href="/">Ironhack School</a></p>
    <ul>
      {{#if user}}
      <li><a href="/home/user/{{user._id}}">My profile</a></li>
      <li><a href="/home/alumni">Alumni</a></li>
      {{#if teacher}}
      <li><a href="/home/admin/courses">Manage courses</a></li>
      {{/if}}
      {{#if admin}}
      <li><a href="/home/admin/list">List admins</a></li>
      {{/if}}
      {{!-- {{#if superAdmin}}
      <li><a href="/admin/roles">Manage roles</a></li>
      {{/if}} --}}

      <li><a href="/logout">Logout</a></li>
      {{else}}
      <li><a href="/login">Login in</a></li>
      <li><a href="/signup">Sign up</a></li>
      {{/if}}
    </ul>
  </nav>
  <header>
    <div>
      <h1>{{title}}</h1>
      <p>{{subtitle}}</p>
    </div>
  </header>

  {{{body}}}

  <footer>
    <div>
      <p>&copy; 2018</p>
    </div>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>
</html>

