<form action="/new-user" method="POST">

<h1>New User</h1>
<label>Name
<input type="text" name="username" placeholder="username"></label>
<br>
<label>Password
<input type="password" name="password" placeholder="password"></label>
<br>
<select name="role" class="form-control">

    <option value= "TA">TA</option>
    <option value="STUDENT">STUDENT</option>
    <option value="DEV">DEV</option>  
    <option value="GUEST">GUEST</option>

</select>
<br>
<button type="submit" class="btn btn-dark">Nuevo usuario</button>
</form>

{{#each resultado}}
<div>
    <h5>{{username}}: {{role}}</h5>
    <a href="/edit-user/{{id}}" class=btn>Edit user</a>
    <br>
    <a href="/delete-user/{{id}}" class="btn-danger">ELIMINAR {{username}}</a>
</div>
{{/each}}