<h1>Plataform Admin</h1>
<a href="/logout"><h3>Logout</h3></a>

<div>
  <form action="/admin/new-employee" method="POST">
    <input type="text" name="name" placeholder="Digite o nome completo">
    <input type="text" name="username" placeholder="Digite o nome de usuário">
    <input type="password" name="password" placeholder="Digite a senha">
    <select type="accessLevel" name="accessLevel">
        <option value="DEV">DEV</option>
        <option value="TA">TA</option>
        <option value="STUDENT">STUDENT</option>
        <option value="GUEST">GUEST</option>
    </select>
    <button type="submit">Criar funcionário</button>
  </form>
  <div>
    {{#if errorMessage}}
      <span>{{errorMessage}}</span>
    {{/if}}
  </div>
    <div>
    {{#each employees}}
      <a href="/admin/employee/{{this._id}}"><h1>{{this.name}}</h1></a>
      <h2>{{this.username}}</h2>
      <h2>{{this.accessLevel}}</h2>
      {{#if this.email}}
          <h2>{{this.email}}</h2>
      {{/if}}
    {{/each}}
  </div>
</div>