<h1>Welcome {{user.username}}</h1>
<h2>This is the BOSS view.</h2>
 <hr>
 <h3>Add new users</h3>

<form action="/auth/privateBoss" method="POST">

    <div>
        <label for="">Username:<input type="text" placeholder="username" name="username"></label>
    </div>
    <div>
        <label for="">Role:<input type="text" placeholder="Role" name="role"></label>
    </div>
    <div><label for="">Email:<input type="email" placeholder="email" name="email"></label>
    </div>
    <div>
        <label for="">Password:<input type="password" placeholder="password" name="password"></label>
    </div>
    <div>
        <label for="">Confirm-password:<input type="password" placeholder="confirm-password" name="confirmPassword"></label>
    </div>

    <button type="reset">Delete</button>

    <button type="submit">Register</button>

</form>

<br>
<hr>
 <h3>Existing users:</h3>
 <table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    
    {{#each users}}
    <tr>
        <th>{{username}}</th>
        <th>{{email}}</th>
        <th>{{role}}</th>
        <th><a href="/privateBoss/delete/{{_id}}">Delete</a></th>
        <th><a href="/privateBoss/edit/{{_id}}">Edit</a></th>
    </tr>
    {{/each}}
</table>
 <br>
<hr>

<p style="color:red">{{err}}</p>

<form action="/auth/logout" method="POST">
    <button type="submit">logout</button>
</form>