<div class="row">
    <!--<div class="col-sm-2"><img src={{movie.image}} alt=""></div>-->
    <div class="col-sm-8">
        <h1>{{user.username}}</h1>
    <h3>Username: {{user.username}}</h3>
    <h3>Role: {{user.role}}</h3>
    <h3>Name: {{user.name}}</h3>
    <h3>Lastname: {{user.lastname}}</h3>
    <h3>Age: {{user.age}}</h3>
    <h3>Interest: {{user.interest}}</h3>
    <h3>University: {{user.university}}</h3>
        <a href="/profile">Go back</a>
        
       
    </div>
</div>