<div class="container justify-content-center">


    <div class="card text-center">
        <div class="card-header">
            <h3>Employee Details</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name: {{name}}</h5>
            <p class="card-text">Username: {{username}}</p>
            <p class="card-text">Description: {{description}}</p>
            <p class="card-text">Facebook Id: {{facebookId}}</p>
            <p class="card-text">Role: {{role}}</p>


            <a href="/users" class="btn btn-dark ">Back</a>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>