<div class="container justify-content-center">
    <h3>Employee Details</h3>
    
    <div class="row align-items-center">
        <div class="col align-self-center">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="..." alt="Profile Img">
                <div class="card-body">
                    <h5 class="card-title">Name: {{name}}</h5>
                    <p class="card-text">Description: {{description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Username: {{Username}}</li>
                    <li class="list-group-item">Role: {{role}}</li>
                    <li class="list-group-item">Facebook Id: {{facebookId}}</li>
                </ul>
                <div class="card-body">
                    <a href="/users" class="btn btn-dark">Back</a>
                    <a href="#" class="btn btn-dark">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>