<h5>SOY USERSSSSSSSSSSSSSSSSSSSSS</h5>

{{#each resultado}}
<div>
    <h5>{{username}}: {{role}}</h5>
    {{!-- <a href="/edit-user/{{id}}" class=btn>Edit user</a>
    <br>
    <a href="/delete-user/{{id}}" class="btn-danger">ELIMINAR {{username}}</a> --}}
</div>
{{/each}}