extends ../layout

block content

  h2 Users

  .form-container
    ul
      each foundUser in users
        li
          a(href=`/users/${foundUser._id}`) #{foundUser.displayName ? foundUser.displayName : foundUser.email}
          if user.role === 'Boss'
            .button-container
              form(action=`/users/${foundUser._id}/delete` method="post")
                button(type="submit" class="delete") Delete
              form(action=`/users/${foundUser._id}/edit` method="get")
                button(type="submit" class="edit") Edit

  if error
    p #{error}

  if user.role === 'Boss'
    button(onclick="window.location.href = '/users/new'" class="new") Add a new User