extends ../layout

block content

  .form-container

    h2 User Information

    h3 #{foundUser.displayName}

    p E-mail: #{foundUser.email}

    p Role: #{foundUser.role}

    .button-container
      form(action=`/users/${user._id}/delete` method="post")
        button(type="submit" class="delete") Delete
      form(action=`/users/${user._id}/edit` method="get")
        button(type="submit" class="edit") Edit