<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Courses
  body

    include ./../../includes/navigation

    ul.courses
    each course in courses
      li.course
        div
          h2.course__name=course.name
          p=course.code
          p=course.nAlumnis
          p=course.year
          p=course.month
    
