<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Courses
    link(rel="stylesheet", href="/stylesheets/main.css")
  body

    include ./../../includes/navigation

    h1 Courses

    ul.courses
      each course in courses
        li.course
          div
            h2.course__name=course.name
            dl.course__properties
              div
                dt Code
                dd=course.code
              div
                dt Alumnis
                dd=course.nAlumnis
              div
                dt Year
                dd=course.year
              div
                dt Month
                dd=course.month
            .course__actions
              a.button.button--view.course__button-link(href=`/courses/view/${course._id}`) View
              a.button.button--edit.course__button-link(href=`/courses/edit/${course._id}`) Edit
              a.button.button--delete.course__button-link(href=`/courses/delete/${course._id}`) Delete
    
