<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Delete course
  body

    h1 Deleting course
    p Are you sure?

    .course
      h2.course__name=course.name
      p=course.code
      p=course.nAlumnis
      p=course.year
      p=course.month
      a.course__edit(href=`/courses/edit/${course._id}`) Edit

    form(action="/courses/delete", method="post")
      input(type="hidden", name="_id", value=course._id)
      .form__actions.form__actions--delete
        a.button.button--cancel(href=`/courses/view/${course._id}`) Cancel
        input.button.button--delete(type="submit" value="yes")
  