<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title View course
  body

    include ./../../includes/navigation

    h1 Course detail

    .course
      h2.course__name=course.name
      p=course.code
      p=course.nAlumnis
      p=course.year
      p=course.month
      a.course__edit(href=`/courses/edit/${course._id}`) Edit
      a.course__edit(href=`/courses/delete/${course._id}`) Delete
  