<h3><%=user.username%>'s Profile</h3>

<label for="">Username: <%=user.username%></label><br>
<label for="">Name: <%=user.name%></label><br>
<label for="">Family Name: <%=user.familyName%></label><br>
<label for="">Role: <%=user.role%></label><br>
