<!-- <h2>Welcome: <%= typeof(loggedUser) != 'undefined' ? loggedUser.username : 'unknown' %></h2> -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">profile of user: <%= user.username %></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <ul>
                <li>ID: <%= user._id %></li>
                <li>Role: <%= user.role %></li>
            </ul>
        </div>

        <a href="/user/<%= user._id %>/edit"><button type="button" class="btn btn-warning navbar-btn">Edit</button></a>
        <form action="/user/<%= user._id %>/delete">
            <button type="submit" formmethod="post" class="btn btn-danger navbar-btn">Delete</button>
        </form>

    </div>
</div>