<h2>User profile page</h2>
<dl>
  <dt>Username:</dt>
  <dd><%= data.username %></dd>
  <dt>Name:</dt>
  <dd><%= data.name %></dd>
  <dt>Family Name:</dt>
  <dd><%= data.familyName %></dd>
  <dt>Role</dt>
  <dd><%= data.role %></dd>
</dl>
<% if (data.id == user.id) { %>
<p><a href="/users/<%= user._id %>/edit" class="button">Edit</a></p>
<% }-%>
