<h1>CURSOS</h1>
<table style="width:100%">
  <tr>
    <th>Coursename</th>
    <th>duration</th>
    <th>tema</th>
  </tr>
  {{#each courses}}
    <tr>
      <td><a href="course/{{this._id}}">{{this.coursename}}</a></td>
      <td>{{this.duration}}</td>
      <td>{{this.tema}}</td>      
      <td><a href="/courses/edit?course_id={{this._id}}" class="edit-button">EDIT</a></td>
      <td><a href="/courses/delete?course_id={{this._id}}" class="delete-button">DELETE</a></td>
    </tr>
  {{/each}}
</table>
<br>
<a href="/">Return</a>
