<section id="homePage">
  <h1>Alumni Page Profile</h1>
  <img src="https://articles-images.sftcdn.net/wp-content/uploads/sites/3/2016/01/wallpaper-for-facebook-profile-photo.jpg"
    alt="">
  {{#each usersObject.user}}
  <h1>Hola {{this.username}}</h1>
  <h1>{{this.role}}</h1>
  {{/each}}

  {{#if usersObject.update}}
  {{#each usersObject.user}}

  <form action="/dashboard/home/{{this._id}}/edit" method="post">
    <input type="text" name="username" id="">
    {{#is usersObject.userLogged.role 'Boss'}}
    <select name='role'>
      <option value="Developer">Developer</option>
      <option value="TA">TA</option>
    </select>
    {{/is}}
    <button>Update</button>
  </form>

  {{/each}}
  {{/if}}

  {{#isnt usersObject.userLogged.role 'Alumni'}}
  <a href="/dashboard/home/{{this._id}}">Back home page</a>
  {{/isnt}}

  <div style="margin-top: 20px;">
    {{#each usersObject.users}}
    {{#isnt this.role 'Boss'}}
    <a href="/dashboard/alumniPage/{{this._id}}">{{this.username}}</a>
    {{/isnt}}
    {{/each}}
  </div>



</section>