<h2>Hello <%= username %></h2>
<ul>
  <li>Username: <%= username %></li>
  <li>Name: <%= name %></li>
  <li>Family name: <%= familyName %></li>
  <li>Role: <%= role %></li>
</ul>
<a href="/logout">Logout</a>
<a href="/list">Employees list</a>
