<a href="/auth/logout">Logout</a>
<a href="/empleado/new">Añadir empleado</a>
<a href="/private">Home</a>

<h1>Bienvenido, {{user.email}}</h1>
<strong>Lista de empleados:</strong>

<ul>
  {{#each empleados as |empleado|}}
  <li>
    {{empleado.name}} {{empleado.lastname}} {{empleado.role}}
    <div>
      <a href="empleado/{{empleado._id}}/edit">editar</a>
      <a href="/empleado/{{empleado._id}}/delete">eliminar</a>
    </div>
  </li>
  {{/each}}
</ul>