<div class="bg">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/private">Home</a></li>
            <li><a href="/empleado/new">Añadir empleado</a></li>
        </ul>
    </div>
</nav>
<div class="square">
  <strong>Lista de empleados:</strong>
<ul>
  {{#each empleados as |empleado|}}
  <li>
    {{empleado.name}} {{empleado.lastname}} {{empleado.role}}
    <div>
      <a href="empleado/{{empleado._id}}/edit">editar</a>
      <a href="/empleado/{{empleado._id}}/delete">eliminar</a>
    </div>
  </li>
  {{/each}}
</ul>
</div>
</div>