<h2>Courses list</h2>
<h3>Courses</h3>
<ul>
  {{#each user}}
  <li>Name: {{title}}</li>
  <li>Teacher: {{teacher}}</li>
  <li>Description: {{description}}</li>
  <br>
  <a href='/course-edit/{{id}}'>Edit</a> 
  <br>
  <br>
  <form action="delete" method="POST">
      <button name="deleteID" value="{{course.id}}">Delete</button> {{!-- O VALUE TA CERTO? --}}
  </form>
  <br>
 
  {{/each}}
</ul> 
<br>

<a href="/">Back</a>