<div class="bg">
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/main">Lista de cursos</a></li>
            <li><a href="/private">Home</a></li>
        </ul>
    </div>
</nav>
<div class="square">
  <form 
{{#if _id}}
  action="/curso/{{_id}}/edit" 
{{else}}
  action="/curso/new"
{{/if}} method="POST">
  <div>
    <label for="">
      Name:
      <input class="uk-input uk-form-width-medium uk-form-small" type="text" name="name" value="{{name}}">
    </label>
  </div><br>
  <div>
    <label for="">
      Cost:
      <input class="uk-input uk-form-width-medium uk-form-small" type="text" name="cost" value="{{cost}}">
    </label>
  </div><br>
  <div>
    <label for="">
      Description:
      <textarea class="uk-textarea" name="description" id="" cols="30" rows="3">{{description}}</textarea>
    </label>
  </div><br>
  <button class="uk-button uk-button-default" type="submit">Submit</button>
</form>
</div>
</div>