{{#with edit}}
<h2>Edit course {{name}}</h2>


<form action="/admin-edit-user/{{_id}}" method="POST">

  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="{{name}}">

  <label for="teacher">Teacher</label>
  <input type="text" id="teacher" name="teacher" value="{{teacher}}">

  <label for="duration">duration</label>
  <input type="number" id="duration" name="duration" value="{{duration}}">

  <button type="submit">Edit</button>
</form>
{{/with}}