<h2>Empleados</h2>



{{#if boss}}

{{#each employee}}
<a href="/auth/employee-edit/{{_id}}">
  <p>Nombre: {{username}}</p>
</a>
<p>Rol: {{role}}</p>
{{/each}}<br><br>

<form action="/auth/employees/{{_id}}/delete" method="post">
  <button type="submit">Borrar empleado</button>
</form><br>
<a href="/auth/add">Añadir nuevo empleado</a><br>

{{else}}

{{#each employee}}
<p>Nombre: {{username}}</p>
<p>Rol: {{role}}</p>
{{/each}}<br><br>

<a href="/auth/employee-edit/{{employeeLoged._id}}">Editar</a>


{{/if}}