<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(user) { %>
      <p>The user is <%= user.username %></p>
      <p>The FBID is <%= user.facebookID %></p>
      <p>The ROLE is <b><%= user.role %></b></p>
      <p><a href="/room">View the rooms</a></p>

      <a href="/auth/logout">Logout</a>
    <% }else{ %>
      <p>There is no user logged in :-) </p>
      <a href="/auth/login">Login Local</a>
      <a href="/auth/facebook">Login Facebook</a>
    <% } %>
  </body>
</html>
