<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>
<a href="/myprofile">My profile</a>
<a href="/logout">Log out</a>
<br>
<a href="/course/create">Create Course</a>


{{#each users}}
<li><a href="/profile/{{id}}">{{username}}</a> - {{role}} <form action='signup/{{_id}}/delete' method="POST">
        <button>Delete</button>
    </form>
</li>
{{/each}}