<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="nav justify-content nav-pills nav-fill p-3 align-items-center">
    <a class="p-3 m-3 nav-link" href="/"><img src="https://www.ironhack.com/assets/shared/logo.svg" alt=""></a>
    <a class="p-3 m-3 nav-link active" href="/login">login</a>
    {{#if user}}
    <a class="p-3 m-3 nav-link active" href="/signup">Create profiles</a>
    <a class="p-3 m-3 nav-link active" href="/courses">Cursos</a>
    <a class="p-3 m-3 nav-link active" href="/logout">log out</a>
    <a class="p-3 m-3 nav-link active"  href="/">Hello {{ user.username}}, {{user.role}}</a>
{{/if}}
    {{!-- {{#is user.username "sandra"}}
  <p>Kiss my shiny metal ass!</p>  
{{else}}
    <p>Never mind :(</p>
{{/is}} --}}
  </nav>
<div class="container">
  {{{body}}}
</div>
  
  <footer class="nav p-3 align-items-center">
    <a  class="btn btn-warning m-3" href="./">Go back</a>
    <a class="p-3 m-3 nav-link " href="http://bolonesa.com/">Done by Rafa</a>
  </footer>
  <script src="/javascripts/script.js"></script>
  {{!-- <script src="./node_modules/handlebars.js"></script>
<script src="./node_modules/swag.js"></script>
<script>Swag.registerHelpers(window.Handlebars);</script> --}}
</body>

</html>