<div id="platform">

  <h1>Welcom {{user.username}}!</h1>

  <div class="block">
    <div class="user">
      <h2>Users</h2>
      {{#each dataUser}}
      <div class="item-user">
        <div>{{role}}</div>
        <div>{{username}}</div>
        <form action="/{{_id}}/edit" method="POST">
          <button type="submit" class={{#is ../user.role 'Boss'}}"btn-boss" {{else}}"btn-employee" {{/is}}>EDIT</button>
        </form>
        <form action="/{{_id}}/delete" method="POST">
          <button type="submit" class={{#is ../user.role 'Boss'}}"btn-boss" {{else}}"btn-employee" {{/is}}>DELETE</button>
        </form>
      </div>
      {{/each}}
    </div>

    <div class="courses">
      <h2>Courses</h2>
      {{#each courseData}}
      <div class="item-course">
        <div>{{name}}</div>
        <div>{{teacher}}</div>
        <div>{{duration}}</div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="links">
    <a href="/new" class={{#is user.role 'Boss'}}"btn-boss" {{else}}"btn-employee" {{/is}}>NEW PROFILE</a>
    <a href="/{{user._id}}/profile" class={{#isnt user.role 'Boss'}}"btn-boss" {{else}}"btn-employee" {{/isnt}}>EDIT MY
      PROFILE</a>
    <a href="/{{user._id}}/newCourse" class={{#isnt user.role 'TA'}}"btn-employee" {{else}}"btn-boss" {{/isnt}}>NEW
      COURSE</a>

    <form action="/logout" method="POST" class="links-button">
      <button type="submit">LOG OUT</button>
    </form>
  </div>
</div>