BOSS page
<% if (user) { %>
  <div>
    <a href="/">Index</a>
  </div>
<% } %>
<a href="logout">Logout</a>

<h2>Add employee</h2>

<form action="/private" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Your username">
  <br><br>
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Your name">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br><br>
  <label for="familyName">Family Name</label>
  <input id="familyName" type="text" name="familyName" placeholder="Your family name">
  <br><br>
  <label for="role">Role:</label>
  <br>
  <input type="radio" name="role" value="Developer">Developer<br>
  <input type="radio" name="role" value="TA">TA<br>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br>

  <button>Create account</button>

</form>

  <ul>
<% users.forEach(function(elem){ %>
    <li><%= elem.username %> - <%= elem.role %></li>
    <a href="/delete/<%= elem._id %>/<%= elem.username %>">Delete</a>

<% }) %>
  </ul>
