<h1>Welcome <%= name %> you are the <%= role %></h1><a href="<%= id %>/edit">Edit your profile</a>

<ul>
    <% user.forEach((user) => { %>
    <li><%= user.name%><a href="delete/<%= user.id%>">Delete</a></li>
    <%  }) %>
    <a href="new">Add User</a>
</ul>
    