<h2>Details for user: <%= user.username %></h2>

<ul>
  <li><strong>Username: </strong><%= user.username %></li>
  <li><strong>Name: </strong><%= user.name %></li>
  <li><strong>Family Name: </strong><%=user.familyName %></li>
  <li><strong>Role: </strong><%=user.role %></li>
</ul>

<h3><a href="/admin-panel">Back to admin panel</a>
