<h1 class="text-center">Profile Page from {{name}}</h1>
<hr>

<div class="container row">
    <img src="{{profileImg}}" alt="">
    <div class="container column">
        <h3>Name: {{name}}</h3>
        <p>Role: {{role}}</p>
        <p>Description: {{description}}</p>

    </div>
</div>