<h3>Courses Managment</h3> <a href="/profile/home">Go Back</a><br><br>
<a href="/courses/new">+ ADD NEW COURSE +</a>
<ul>
<% courses.forEach((course) =>{ %>
  <li>Course Name: <%=course.name%></li>
  <label for="">Starting Date: <%=course.startingDate%></label><br>
  <label for="">End Date: <%=course.endDate%></label><br>
  <label for="">Difficulty: <%=course.level%></label><br>
  <label for="">Available: <%=course.available%></label><br><br>

  <form action="/courses/delete/<%=course._id%>" method="post">
    <a href="/courses/edit/<%=course._id%>">Edit</a>
    <input style="margin-left:20px;" type="submit" value="delete">
  </form>
  <br><br>
<% }); %>
</ul>
