


<div class="loginForm">
  <form action="/{{_id}}" method="POST" class="px-4 py-3">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="exampleDropdownFormEmail1" name="username" placeholder="User Name" value="{{username}}">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="exampleDropdownFormEmail1" name="name" placeholder="Name" value="{{name}}">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name ="password" id="exampleDropdownFormPassword1" placeholder="Password" value="{{password}}">
    </div>
    <div class="form-group">
      <label for="profileImg">Username</label>
      <input type="file" class="form-control" id="exampleDropdownFormEmail1" name="profileImg" placeholder="Profile Image"  value="{{profileImg}}">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="exampleDropdownFormEmail1" name="description" placeholder="Description" value="{{description}}">
    </div>
    <div class="form-group">
      <label for="facebookId">Facebok Id</label>
      <input type="text" class="form-control" id="exampleDropdownFormEmail1" name="facebookId" placeholder="facebook Id" value="{{facebookId}}">
    </div>
    <label for="role">Role</label>
    <select name="role">
        <option value="DEV">DEV</option> 
        <option value="TA">TA</option> 
        <option value="STUDENT">STUDENT</option>
        <option value="GUEST">GUEST</option> 
     </select>
     <br>

     {{#if message}}
    <p style="color: red">{{ message }}</p>
    {{/if}}
    
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>