<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Editar perfil</h1>

            <form action="/profile/edit?user_id={{_id}}" method="POST">
                <div class='form-group'>
                    <label for='username'>Username</label>
                    <input name='username' type='text' class='form-control' value='{{userInfo.username}}' id='username'>
                </div>
                <div class='form-group'>
                    <label for='name'>name</label>
                    <input name='name' type='text' class='form-control' value='{{userInfo.name}}' id='name'>
                </div>
                <div class='form-group'>
                    <label for='profileImg'>Profile Image URL</label>
                    <input name='profileImg' type='text' class='form-control' value='{{userInfo.profileImg}}' id='profileImg'>
                </div>
                <div class='form-group'>
                    <label for='description'>Description</label>
                    <input name='description' type='text' class='form-control' value='{{userInfo.description}}'
                        id='description'>
                </div>
                <button type='submit' class='btn btn-dark btn-block'>Editar</button>
                {{#if errorMsg}}
                <p style="margin-top: 10px;background: red; color: white; text-align: center; padding: 10px">
                    {{errorMsg}}</p>
                {{/if}}
            </form>

        </div>
    </div>
</div>