<h1>{{title}}</h1>
<h3>{{usuarios}}</h3>
<ul class="list-group">
    {{#each users as |user|}}
    <li class="list-group-item">
        {{user.username}}
        <a href="/users/{{user.id}}">see profile</a>

        {{#isBOSS user}}
        <span class="badge badge-danger">BOSS</span>
        {{/isBOSS}} 
 
        {{#isDEVELOPER user}}
        <span class="badge badge-primary">DEV</span>
        {{/isDEVELOPER}}

        {{#isTA user}}
        <span class="badge badge-warning">TA</span>
        {{/isTA}}

        {{#isTA ../passportSession}}
            <a href="/courses/list" style="float:right;">inscribir a este alumno</a>
        {{/isTA}}

        {{!-- passportSession esta fuera de este scope del loop --}} {{!-- {{#isBoss ../passportSession}} --}}
        {{#isBOSS ../passportSession}}
        <form action="/users/{{user._id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger float-right">x</button>
        </form>
        {{/isBOSS}}

    </li>
    {{/each}}
</ul>