


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{username}}</h1>
    <h2 >{{name}}</h2>
    <p class="lead">{{description}}</p>
    <p>Facebook: {{facebookId}}</p>
    <p>{{role}}</p>
    <p>{{profileImg}}</p>
  </div>
</div>