<h1>Course Details</h1>
<p>course: {{course.name}}</p>
<p>teacher: {{course.teacher}}</p>
<p>students: {{course.students}}</p>
</br>
<a href="/courses/{{course.id}}/edit">Edit course</a></br>
</br>

<a href="/courses/{{course.id}}/delete">Delete course</a></br>
</br>

<a href="/courses">Go back</a>