<h3>Welcome, {{name}}</h3>
<p>You can edit your data</p>


<form action="/profile/{{id}}/edit" method="POST">
    <label>Username</label>
    <input type="text" name="username" value="{{username}}">
    <label>Name</label>
    <input type="text" name="name" value="{{name}}">
    <label>Image</label>
    <input type="text" name="profileImg" value="{{profileImg}}">
    <label>Description</label>
    <input type="text" name="description" value="{{description}}">
    <label>Facebook</label>
    <input type="text" name="facebookId" value="{{facebookId}}">
    
    <input type="submit" value="Update">
</form>