<h1> Ironhack Courses </h1>
<a href="/"> Back to menu </a>
<ul>
    <% courses.forEach((courseData) => { %>
        
         <h3>  <%= courseData.name %> </h3>
        
        <li> Starting Date: <%= courseData.startingDate %> </li>
        <li> End Date: <%= courseData.endDate %> </li>
        <li> Difficulty: <%= courseData.level %> </li>
        <li> ¿Available for registration?: <%= courseData.available %> </li>
        
  <%  }); %>

    

</ul>