<h1> Ironhack Courses </h1>
    <a href="/"> Back to menu </a> <br>
    <a href="/courses/new"> Create a new Course </a>
<ul>
    <% courses.forEach((courseData) => { %>
        <h3>  <%= courseData.name %> </h3>
         <form action="/courses/<%= courseData._id%>/delete" method="POST">
                <button type="submit"> Delete course </button>
            </form>
        <a href="/courses/<%= courseData._id %>/edit"> Edit Course (Boss and TA Only) </a>
        
        <br>

        <li> Starting Date: <%= courseData.startingDate %> </li>
        <li> End Date: <%= courseData.endDate %> </li>
        <li> Difficulty: <%= courseData.level %> </li>
        <li> Available to register: <%= courseData.available %> </li>
        
  <%  }); %>

    

</ul>